{% extends 'todo/base.html' %} 
{% block content %} 
<style>
    .important {
        color: red;
    }
</style>

    <h1>{{user.username}}'s Todos</h1>
    <ul>
        {% for todo in todos %}
        <li class="todo-item">
            <p class="{% if todo.is_important %}important{% endif %}">
                {% if todo.is_important %}
                    <b>{{ todo.title }}</b>
                {% else %}
                    {{ todo.title }}
                {% endif %}
                -- {{ todo.memo }}
            </p>
            <p>
                Completed: 
                <input type="checkbox" name="completed" value="{{ todo.id }}" {% if todo.is_completed %}checked{% endif %}>
            </p>
        </li>
        {% endfor %}
        </ul>
    {% endblock %}